.center-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.center-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    flex: 1;
    width: 100vw;
}

.color-text-title {
    color: var(--off-white-color);
}