.btn-close {
    margin-left: auto;
    margin-right: 0;
}

.form {
    max-height: calc(100vh - 80px);
    overflow-y: auto;
}

.modal {
    background: rgba(0, 0, 0, .5);
}

.form-group.required .control-label:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 3px;
    top: 10px;
}