body {
  background-color: var(--bs-body-bg)
}

.btn-primary-custom {
  background-color: #7a9e9f;
  outline: 1px solid;
  outline-color: #EEF5DB;
  border: none;
  color: white;
}

.btn-primary-custom:hover {
  border: none;
  outline-color: #EEF5DB;
  text-shadow: 1px 1px 6px #7a9e9f;
  background-color: #4F6367;
  color: white;
}

.btn-primary-custom:disabled,
button[disabled] {
  outline-color: #EEF5DB;
  border: none;
  background-color: #A9A9B0;
  color: white;
}


.color-primary {
  color: #7a9e9f;
}

.background-color-off-white {
  background-color: #FAF9F6;
}

.background-color-off-blue {
  background-color: #f2f7ff;
}

.fade-in-text {
  font-family: Arial;
  animation: fadeIn 1.5s;
  -webkit-animation: fadeIn 1.5s;
  -moz-animation: fadeIn 1.5s;
  -o-animation: fadeIn 1.5s;
  -ms-animation: fadeIn 1.5s;
}

.fade-out-text {
  font-family: Arial;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}